trigger:
- none

pool: MQ

parameters:
- name: ScanningNeeded
  displayName: Scanning
  type: string
  default: 'true'
  values:
  - 'true'
  - 'false'

stages:

# -------------------- PreBuild --------------------
- stage: PreBuild
  displayName: PreBuild
  jobs:
  - job: TerraformInit
    displayName: Job1
    pool: MQ
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Parent'
        backendServiceArm: 'Service connection_waqas'
        backendAzureRmStorageAccountName: 'storagemq'
        backendAzureRmContainerName: 'mq123'
        backendAzureRmKey: 'key.tfstate'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Parent'

# -------------------- Plan --------------------
- stage: Plan
  displayName: Plan
  jobs:
  - job: TerraformInitPlanStage2
    displayName: Job2
    pool: MQ
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Parent'
        backendServiceArm: 'Service connection_waqas'
        backendAzureRmStorageAccountName: 'storagemq'
        backendAzureRmContainerName: 'mq123'
        backendAzureRmKey: 'key.tfstate'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'plan'
